/* Menu section */

.menu {
  background-color: var(--white);
  background-image: url(../img/process-top.png);
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.menu-card {
  background: transparent;
  border: 2px solid var(--dark-mid);
  padding: 65px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-card .card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-card .card-center .circle {
  width: 10px;
  height: 10px;
  border-radius: 60px;
  background: var(--light-orange);
}

.menu-card .card-center .line {
  width: 2px;
  min-height: 80%;
  background: var(--light-orange);
}

.menu-card .single-item:not(:last-child) {
  border-bottom: 1px solid var(--dark-mid);
  margin-bottom: 40px;
}

.menu-card .single-item .item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-card .single-item .item-top h2 {
  color: var(--white);
  background: var(--dark-mid);
  padding: 5px 20px;
  border-radius: 4px;
}

.menu-card .single-item .item-top .dotted-line {
  border: 1px dotted var(--black);
  width: 70px;
  height: 1px;
  margin: 0 40px;
}

.menu-card .single-item .item-top span {
  color: var(--light-orange);
  font-weight: 700;
}

.menu-card .single-item .item-meta p {
  color: var(--black);
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  margin: 12px 0;
}

/* Responsive */
@media screen and (max-width: 765px) {
  .menu-card {
    flex-direction: column;
    padding: 20px;
  }

  .menu-card .card-center {
    display: none;
  }

  .menu-card .card-left .single-item:last-child {
    border-bottom: 1px solid var(--white);
    margin-bottom: 40px;
  }
}

/* Menu section end */
