/* Menu section */

.menu {
  background-color: var(--white);
  /* background-image: url(../img/process-top.png); */
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

html.dark .menu {
  background: var(--black);
  color: var(--light-blue);
}

/* Menu section end */
