.quote-wrap {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 250px;
  align-items: center;
}

.quote-wrap .quote-img img {
  border-radius: 10px;
  transform: rotate(355deg);
  transition: all 0.5s ease-in-out;
}

.quote-wrap .quote-img img:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

html.dark .quote-section {
  background: var(--black);
  color: var(--off-white);
}

html.dark .quote-txt i {
  color: #8796ab;
}

@media screen and (max-width: 765px) {
  .quote-wrap {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    row-gap: 60px;
  }

  .quote-wrap .quote-img {
    display: flex;
    justify-content: center;
  }

  .quote-wrap .quote-img img {
    /* width: 300px;
    height: auto; */
    display: none;
  }
}

@media screen and (max-height: 650px) {
  .quote-wrap {
    margin-top: 120px;
  }
}
