.cta-section-wrap {
  position: relative;
  background: #fffef8;
  border-radius: 15px;
  margin-bottom: -125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cta-section-wrap .cta-img {
  width: 100%;
  height: 100%;
  background: url(../../assets/cta.jpg);
  background-size: cover;
  border-radius: 15px 0px 0px 15px;
}

.cta-section-wrap .cta-right {
  padding: 45px;
}

.cta-text h1 {
  font-size: 33px;
  font-weight: 700;
  color: #423e21;
}

.cta-text p {
  font-size: 16px;
  font-weight: 200;
  color: #45401a;
}

html.dark .cta-section {
  background: var(--black);
}

html.dark .cta-section-wrap {
  background: #192136;
  color: var(--off-white);
}

html.dark .cta-text h1 {
  color: var(--off-white);
  font-size: 30px;
}

html.dark .cta-text p {
  color: var(--light-blue-accent);
}

.cta-section-wrap .qr-scan img {
  width: 200px;
  height: auto;
  margin: 20px 0px;
}

@media screen and (max-width: 765px) {
  .cta-section-wrap {
    display: block;
  }

  .cta-section-wrap .cta-img,
  .cta-section-wrap .qr-scan img {
    display: none;
  }

  .cta-text {
    text-align: left !important;
  }

  .cta-text h1 {
    font-size: 30px;
  }

  .cta-text p {
    margin-bottom: 30px;
  }
}
