.quote-wrap {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  align-items: center;
}

.quote-wrap .quote-img img {
  border-radius: 10px;
  /* transform: rotate(355deg); */
  transition: 0.5s ease-in-out;
  background-blend-mode: hue;
}
/* 
.quote-wrap .quote-img img:hover {
  cursor: pointer;
  transform: rotate(360deg);
} */

html.dark .quote-section {
  background: var(--black);
  color: var(--off-white);
}

html.dark .quote-txt p {
  color: var(--light-blue-accent);
}

.services-wrap {
  background-image: linear-gradient(
      180deg,
      rgba(var(--bs-body-bg-rgb), 0.01),
      rgba(var(--bs-body-bg-rgb), 1) 85%
    ),
    radial-gradient(
      ellipse at top left,
      rgba(var(--bs-primary-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(var(--bd-accent-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center right,
      rgba(var(--bd-violet-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center left,
      rgba(var(--bd-pink-rgb), 0.5),
      transparent 50%
    );
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
}

html.dark .services-wrap {
  background: linear-gradient(to bottom, transparent, var(--black)),
    url(../../assets/hero-dark.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
}

@media screen and (max-width: 765px) {
  .quote-wrap {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    row-gap: 60px;
  }

  .quote-wrap .quote-img {
    display: flex;
    justify-content: center;
  }

  .quote-wrap .quote-img img {
    /* width: 300px;
    height: auto; 
    display: none; */
  }
}

@media screen and (max-height: 650px) {
  .quote-wrap {
    margin-top: 120px;
  }
}
