.single-food-card {
  background: transparent;
  border-radius: 10px;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.single-food-card .img-area {
  position: relative;
  background: #000;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  justify-content: center;
}

.single-food-card .img-area img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.single-food-card .img-area img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.single-food-card:hover .overlay {
  opacity: 1;
}

.single-food-card:hover .btns {
  opacity: 1;
}

.single-food-card .content {
  width: 100%;
  padding: 20px 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.single-food-card .content h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
}

.single-food-card .content p {
  color: var(--teal-black);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 1px;
}

.price span {
  font-size: 13px;
  color: #996f07;
}

.price span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}

html.dark .single-food-card .content h1 {
  color: var(--light-blue);
}

html.dark .single-food-card .content p,
html.dark .price span {
  color: var(--light-blue-accent);
}

@media screen and (max-width: 765px) {
  .single-food-card {
    grid-template-columns: repeat(1, 1fr);
  }

  .single-food-card .img-area {
    height: 100px;
  }

  .single-food-card .content {
    flex-direction: column;
  }

  .single-food-card .content h1 {
    font-size: 16px;
  }

  .single-food-card .content p {
    font-size: 12px;
  }

  .price span {
    font-size: 12px;
  }

  .price span:nth-child(1) {
    font-size: 18px;
  }

  .single-food-card .btns .btn {
    font-size: 12px;
  }

  .single-food-card .black-btn.hasIcon span:first-child {
    top: 5px;
  }
}
