.single-food-card {
  background: var(--off-white);
  border-radius: 10px;
  position: relative;
  padding: 20px;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.single-food-card .img-area {
  position: relative;
  background: #0d1523;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-left: -50px;
  overflow: hidden;
}

.single-food-card .img-area img {
  width: 200px;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.single-food-card .img-area img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.single-food-card .content {
  width: 100%;
}

.single-food-card .content h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
}

.single-food-card .content p {
  color: var(--teal-black);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

.price span {
  font-size: 14px;
}

.price span:nth-child(1) {
  font-size: 23px;
  font-weight: 700;
}

.btns {
  margin-top: 20px;
}

html.dark .single-food-card {
  background: var(--dark-mid);
}

html.dark .single-food-card .content h1,
html.dark .price span {
  color: #d3e2f7;
}

html.dark .single-food-card .content p {
  color: #8796ab;
}
