.product-detail-section .preview-img-area {
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.product-detail-section .preview-img-area img {
  width: 900px;
  height: auto;
  border-radius: 10px;
}

.product-details {
  padding: 20px;
}

.product-details h2 {
  font-size: 27px;
  font-weight: 500;
}

.product-details .meta span {
  color: rgb(106, 106, 106);
  font-weight: 300;
}

html.dark .product-details .meta span > span {
  color: var(--light-blue-accent);
}

.product-details .price span {
  font-size: 29px;
}

.related-products h2 {
  font-size: 23px;
}

html.dark .product-detail-section {
  background: var(--black);
  color: var(--light-blue);
}

html.dark .product-details h2 {
  color: var(--light-blue);
}

html.dark .product-details .meta span {
  color: var(--teal-black);
}

@media screen and (max-width: 765px) {
  .product-detail-section .preview-img-area {
    height: auto;
    overflow: hidden;
    border-radius: 10px;
  }
}
