nav {
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav .navbar-brand {
  font-size: 30px;
  font-weight: 900;
  color: var(--black);
  cursor: pointer;
}

html.dark nav .navbar-brand {
  color: var(--off-white);
}

.navbar-brand span {
  display: none;
}

nav .nav-links ul {
  display: flex;
  list-style: none;
}

nav .nav-links li {
  margin: 0 20px;
}

nav .nav-links li a {
  color: var(--teal-black);
  font-weight: 200;
}

nav .nav-links li > a.active {
  color: var(--black);
  font-weight: 500;
}

.nav-links-mobile ul {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  flex-direction: column;
  gap: 15px;
  background: var(--off-white);
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 10px 15px 30px rgba(8, 9, 9, 0.205);
}

html.dark .nav-links-mobile ul {
  background: var(--dark-mid);
}

nav .nav-links-mobile li {
  margin: 0 20px;
}

nav .nav-links-mobile li a {
  color: var(--teal-black);
  font-weight: 200;
}

html.dark nav .nav-links-mobile li a {
  color: #8796ab;
}

nav .nav-links-mobile li > a.active {
  color: var(--black);
  font-weight: 500;
}

nav .counter-wrap {
  position: relative;
}

nav .cart-counter {
  position: absolute;
  top: -8px;
  right: -14px;
  width: 17px;
  height: 17px;
  border-radius: 60px;
  background: rgb(185, 18, 18);
  font-size: 10px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .cart-icon {
  font-size: 19px;
}

.right-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.theme-switcher {
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switcher span {
  color: var(--white);
  font-size: 28px;
}

.navbarComponent.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #ffffff87;
  backdrop-filter: blur(8px);
}

html.dark .navbarComponent.sticky {
  background: #060114a5;
}

.navbarComponent.sticky .theme-switcher span {
  color: var(--black);
}

html.dark .nav-links ul li.active > a {
  color: var(--off-white);
}

html.dark .navbarComponent.sticky .theme-switcher span,
html.dark .navbarComponent .nav-links ul li a,
html.dark .navbarComponent.sticky .nav-links ul li a {
  color: #c7c7c7;
}

@media screen and (max-width: 765px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
  }

  .nav-links-mobile ul {
    display: flex;
  }

  .navbar-brand span {
    display: block;
  }

  .right-actions {
    column-gap: 20px;
  }
}
