.footer-section {
  background: var(--dark-mid);
  color: var(--white);
  padding-top: 140px;
}

.footer-logo h1 {
  font-size: 45px;
  font-weight: 900;
  color: var(--off-white);
}

.footer-logo span {
  font-size: 14px;
  color: var(--light-orange);
}

.footer-hours p {
  color: var(--light-blue-accent);
}

.footer-hours h2,
.footer-contact h2 {
  font-size: 20px;
  font-weight: 500;
  color: #6c768e;
  margin-bottom: 15px;
}

.footer-contact p {
  font-weight: 100;
  color: var(--light-blue);
}

.payment-methods img {
  width: 30px;
  height: auto;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}

.payment-methods img:hover {
  filter: grayscale(0);
}

html.dark .payment-methods img {
  filter: grayscale(0);
}

html.dark .footer-section {
  background: #060114;
}

@media screen and (max-width: 765px) {
  .footer-section .container {
    display: grid;
    row-gap: 60px;
  }
  .footer-section .container > div:first-child {
    order: 3;
  }
}
