header {
  height: 100vh;
  /* background: url(../img/PngItem_2438558.png);
  background: linear-gradient(
    rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.55)
  );
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px); */
}

header::after {
  content: '';
  position: absolute;
  width: 789px;
  height: 800px;
  right: -280px;
  top: -31px;
  background: url(./assets/black-wall-texture-rough-background-dark-concrete-floor-old-grunge-background-with-black_263512-1880.jpg);
  background-size: cover;
  border-radius: 1160px;
  z-index: -1;
}

.section-padding {
  padding: 80px 0px;
}
