@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal-black: #6d6d6d;
  --black: #060114;
  --white: #fff;
  --off-white: #e9e9e9;
  --light-orange: #ffda81;
}
* {
  font-family: 'Prompt', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--teal-black);
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-header {
  margin-bottom: 20px;
}

.text-underline {
  height: 5px;
  width: 80px;
  background: var(--light-orange);
  border-radius: 90px;
  position: relative;
}

.text-underline::before {
  content: '';
  position: absolute;
  top: 0;
  height: 5px;
  width: 30px;
  background: var(--black);
  border-radius: 90px;
}
