.form-section {
  height: 100vh;
}

.form-img-bg {
  height: 100vh;
  width: 40%;
  background: red;
}

.form-img-bg.register {
  background: url(../../assets/register.jpg) no-repeat center / cover;
}

.form-img-bg.login {
  background: url(../../assets/login.jpg) no-repeat right / cover;
}

.form-section .exit a {
  color: rgb(13, 46, 58);
  font-size: 28px;
}

html.dark .form-section .exit a {
  color: var(--light-blue-accent);
}

.form-wrap {
  width: 40%;
}

.form-section .form-logo {
  font-size: 30px;
  font-weight: 900;
  color: rgb(13, 46, 58);
}

html.dark .form-section .form-logo {
  color: var(--light-blue-accent);
}

.form-top-area h2 {
  font-size: 25px;
  font-weight: 500;
}

.form-top-area span {
  font-size: 13px;
  font-weight: 300;
}

.form-field {
  position: relative;
  width: 100%;
}

.form-field input {
  border: 1px solid #dadada;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  margin: 15px auto;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  background: transparent;
}

.form-field input:focus,
.form-field input:active {
  border: 1px solid #fce88e !important;
  outline: none;
}

.form-field input:-webkit-autofill,
.form-field input:-webkit-autofill:hover,
.form-field input:-webkit-autofill:focus,
.form-field input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

html.dark .form-field input:-webkit-autofill,
html.dark .form-field input:-webkit-autofill:hover,
html.dark .form-field input:-webkit-autofill:focus,
html.dark .form-field input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
  -webkit-text-fill-color: var(--light-blue);
}

.form-field label {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 13px;
  background: #fff;
  color: #878787;
  padding: 4px 10px;
}

.form-field label.active {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 13px;
  background: #fff;
  color: #878787;
  padding: 4px 10px;
}

.form-btns {
  align-items: center;
}

.form-btns button {
  background: var(--black);
  padding: 12px 35px;
  border-radius: 6px;
  color: var(--light-blue);
}

.form-btns p {
  font-size: 14px;
  color: var(--teal-black);
}

html.dark .form-section {
  background: var(--black);
  color: var(--light-blue);
}

html.dark .form-field input {
  background: transparent;
  border: 1px solid var(--light-blue-accent);
}

html.dark .form-field label {
  background: var(--black);
}

html.dark .form-top-area span,
html.dark .form-field label {
  color: var(--light-blue-acccent);
}

html.dark .form-btns button {
  background: var(--light-orange);
  padding: 12px 35px;
  border-radius: 6px;
  color: var(--black);
}

html.dark .form-btns p,
html.dark .register-section span {
  color: var(--light-blue-accent);
}

.error-msg {
  background: rgb(255, 222, 222);
  border: 1px solid rgba(157, 108, 108, 0.45);
  text-align: center;
  color: var(--black);
  padding: 10px;
  border-radius: 9px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  font-weight: 300;
}

@media screen and (max-width: 765px) {
  .form-wrap {
    width: 100%;
  }

  .form-field input {
    width: 100%;
  }

  .form-section {
    height: auto;
  }

  .form-img-bg {
    display: none;
  }

  .form-section .exit {
    left: 5%;
  }
}
